<h1>Lista de articulos</h1>

<ul>
    <% @articles.each do |article| %>
        <li>
            <%= link_to article.title, article %>
        </li>
    <% end %>
</ul>


<%= link_to 'New Article', new_article_path %>
<%= link_to 'New user', new_user_path %>